  /* For  1200px*/
  @media screen and (max-width: 1200px){
  .donate_now_text {
  padding: 20px 70px;
  }
  .donate_bar {
  left: 0;
  right: 0;
  }
  }

  /* For  1130px*/
  @media screen and (max-width: 1130px){
  .donate_now_text {
  padding: 20px 40px;
  }
  }

  /* For  1125px*/
  @media screen and (max-width: 1125px){
  .donate_now_text h3 {
  font-size: 13px;
  }
  }

  /* For  1024px*/
  @media screen and (max-width: 1024px){
  .header_text_title h2 {
  font-size: 40px;
  }
  .donate_now_text {
  padding: 20px 25px;
  }
  .donate_now_text h3 {
  font-size: 15px;
  }
  .donation_amount {
  padding: 20px 90px;
  } 
  }

  /* For  1003px*/
  @media screen and (max-width: 1003px){
  .donate_now_text {
  padding: 20px 16px;
  }
  }

  /* For 992px */
  @media screen and (max-width: 992px){
  .donate_now_text {
  padding: 20px 10px;
  }
  }

  /* For 983px */
  @media screen and (max-width: 983px){
  .donate_now_text h3 {
  font-size: 14px;
  }
  .donation span {
  font-size: 10px;
  }
  .amount_btn a {
  font-size: 10px;
  }
  span i {
  padding-top: 6px;
  padding-left: 6px;
  }
  }

  /* For 859px */
  @media screen and (max-width: 859px){
  .donate_now_text h3 {
  font-size: 11px;
  }
  }

  /* For 837px */
  @media screen and (max-width: 837px){
  .amount_btn a {
  font-size: 8px;
  }
  }

  /* For 804px */
  @media screen and (max-width: 804px){
  .donation_amount {
  padding: 20px 50px;
  }
  }

  /* For 768px */
  @media screen and (max-width: 768px){

  .donation {
  margin-right: 5px;
  }
  .donate_bar {
  overflow: hidden;
  display: unset;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  position: absolute;
  left: 0%;
  right: 0%;
  }
  .donate_now_text h3 {
  text-align: center;
  }
  .donation_amount {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  }
  .donate_button {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  }
  .amount_btn a {
  margin: 10px 10px;
  }
  .formdonar {
  width: 100%;
  }
  .contact_form_content {
  width: 100%;
  }
  .address {
  text-align: center;
  margin-left: 0px;
  }
  .lets_talk {
  margin-left: 0px;
  }
  .lets_talk h2 {
  text-align: center;
  }
  .lets_talk_btn {
  text-align: center;
  }
  .fot {
  text-align: center;
  }
  .fot img {
  float: unset;
  margin-bottom: 20px;
  }
  .fot p {
  float: unset;
  }
  .lets_talk p {
  text-align: center;
  }
  .donar_form input {
  width: 100%;
  }
  textarea {
  width: 100%;
  }
  input[name="browser"] {
  width: 100%;
  }
  }

  /* For 576px */
  @media screen and (max-width: 576px){
  .menu ul li {
  margin: 5px 0px;
  padding: 10px;
  }
  .donation_amount {
  padding: 10px 46px;
  }
  .donate_button {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  }
  .enter_your_amount_btn {
  margin-bottom: 26px;
  }
  .header_text_title h2 {
  font-size: 25px;
  }
  .header_text_body p {
  font-size: 11px;
  }
  .header_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  }
  .menu ul li a {
  font-size: 11px;
  font-weight: 100;
  }
  .header_menu {
  margin-top: 15px;
  padding-bottom: 50px;
  }
  .donate_btn a {
  padding-left: 25px;
  padding-right: 25px;
  }
  }

  /* For 425px */
  @media screen and (max-width: 425px){
  .donation_amount {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px 0px;
  }
  .donation {
  margin: 5px 0px;
  }
  .header_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 0px;
  }
  .donar_form_title h2 {
  font-size: 20px;
  }
  .featured_photo h2 {
  font-size: 18px;
  margin-top: 0px;
  }
  .select_amount {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  }
  .enter_amount {
  padding: 10px 0px;
  }
  }

  /* For 320px */
  @media screen and (max-width: 320px){
  .header_text_title h2 {
  font-size: 20px;
  }
  .header_text_body p {
  font-size: 10px;
  }
  .donate_now_text {
  padding: 14px 0px;
  }
  .donation_amount {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 12px 0px;
  }
  .donate_button {
  background-color: #5b72d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0px;
  }
  .amount_btn a {
  margin: 0px;
  }
  textarea {
  font-size: 10px;
  }
  .featured_photo h2 {
  font-size: 15px;
  }
  .featured_photo p {
  font-size: 10px;
  margin-top: 10px;
  }
  }